{{ define "header" }}
<header>
  <div class="search">
    <form action="/" method="get">
      <input type="text" name="q" placeholder="Search..." value="{{ .CurrentQuery }}" autofocus>
    </form>

    <div class="stats">
{{ if .Pages.Count }}
      Showing {{ .Page.StartIndex }} to {{ .Page.EndIndex }} of {{ .Pages.Count }} total {{ "result" | plural .Pages.Count }}.
{{ else }}
      No results to display!
{{ end }}
    </div>

    <div class="hints">
      <ul>
        <li>Help:</li>
        <li><a href="/help#advanced-search-syntax">advanced search syntax</a></li>
      </ul>
    </div>

{{ if .Pages.Count }}
    <ul class="pagination">
      <li>Page:</li>

{{ if .Page.HasPrev }}
      <li><a href="/?page={{ .Page.PrevPage }}">Previous</a></li>
{{ end }}

{{ range .Pages.PageRange }}
{{ if eq . $.Page.PageNumber }}
    <li>{{ . }}</li>
{{ else }}
    <li><a href="/?page={{ . }}">{{ . }}</a></li>
{{ end }}
{{ end }}

{{ if .Page.HasNext }}
      <li><a href="/?page={{ .Page.NextPage }}">Next</a></li>
{{ end }}
    </ul>
{{ end }}
  </div>
</header>
{{ end }}

{{ define "content" }}
<div class="index">
  <table class="torrent-list">
    <tbody>
{{ range .Torrents }}
      <tr id="torrent-list-entry-{{ .Hash }}">
        <td>
          <a class="torrent-title" href="{{ .MagnetURI }}">{{ .Name }}</a>
          <ul class="torrent-details">
            <li><span title="{{ .Size }} bytes">{{ .Size | size }}</span></li>
            <li>submitted to Jishaku <time datetime="{{ .FirstSeen | iso }}" title="{{ .FirstSeen | iso }}">{{ .FirstSeen | ago }}</time></li>
          </ul>
        </td>
        <td>
          <ul class="torrent-links">
            <li><a href="/torrent/{{ .Hash }}">Details</a></li>
          </ul>
        </td>
      </tr>
{{ end }}
    </tbody>
  </table>
</div>
{{ end }}
