{{ define "header" }}{{ end }}

{{ define "content" }}
<div class="torrent-details">
  <h1>{{ .Entry.Name }}</h1>
  <h4>Hash: {{ .Entry.InfoHash }}</h4>

  <h3>Stats</h3>
  <ul class="stats">
    <li>Submitted <time datetime="{{ .Entry.FirstSeen | rfc3339 }}" title="{{ .Entry.FirstSeen | rfc3339 }}">{{ .Entry.FirstSeen | rfc1123 }}</time></li>
    <li>{{ .Entry.Size | size }} in {{ len .Entry.Files }} {{ "file" | plural (len .Entry.Files) }}</li>
  </ul>

  <h3>Files</h3>
  <table class="files">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
{{ range .Entry.Files }}
      <tr>
        <td>{{ .Path }}</td>
        <td>{{ .Length | size }}</td>
      </tr>
{{ end }}
    </tbody>
  </table>

  <h3>Links</h3>
  <ol class="links">
    <li><a href="{{ .Entry.MagnetURI }}" rel="nofollow">Magnet Link</a></li>
{{ range .Entry.Locations }}
    <li><a href="{{ . }}" rel="nofollow">{{ . | host }}</a></li>
{{ end }}
  </ol>

  <h3>Trackers</h3>
  <ul class="trackers">
{{ range .Entry.Trackers }}
    <li>{{ . }}</li>
{{ end }}
  </ul>
</div>
{{ end }}
