{{ define "header" }}
<header>
  <div class="search">
    <form action="/" method="get">
      <input type="text" name="q" placeholder="Search..." value="{{ .CurrentQuery }}" autofocus>
    </form>
  </div>
</header>
{{ end }}

{{ define "content" }}
<div class="index">
  <table class="torrent-list">
    <tbody>
{{ range .Entries }}
      <tr id="torrent-list-entry-{{ .InfoHash }}">
        <td>
          <a class="torrent-title" href="{{ .MagnetURI }}">{{ .Name }}</a>
          <ul class="torrent-details">
            <li><span title="{{ .Size }} bytes">{{ .Size | size }}</span></li>
            <li>submitted to Jishaku <time datetime="{{ .FirstSeen | rfc3339 }}" title="{{ .FirstSeen | rfc3339 }}">{{ .FirstSeen | rfc1123 }}</time></li>
          </ul>
        </td>
        <td>
          <ul class="torrent-links">
            <li><a href="/torrent/{{ .InfoHash }}">Details</a></li>
          </ul>
        </td>
      </tr>
{{ end }}
    </tbody>
  </table>
</div>
{{ end }}
